
/**
 * product image on card
 */

 .product-img {
  min-height: 100px;
}

.jumbotron h2 {
  margin-top: -20px;
}

@media only screen and (max-width: 600px) {
  .jumbotron h2 {
      margin-top: 10px;
  }
}

/*** jumbotron animation */

 /* .jumbotron {
  width: 30wh; */
  /* height: 30vh; */
  /* height: 180px;
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
} */

.jumbotron {
  /* width: 30wh;
  height: 180px;
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite; */
  background-image: url("/images/indy_taps.jpeg");
  height: 220px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.transbox {
  margin-top: 0px;
  margin-bottom: 10rem;
  margin-left: 10rem;
  margin-right: 10rem;
  border: 1px solid black;
  padding: 0px;
  background-color: #fff;
  opacity: 0.8;
}

.transbox h1 {
  margin: 1%;
  color: #000;
  font-weight: bold;
}

.nav {
  background-color: #062E51;
}

.card-header {
  background-color: #062E51;
}

.card-title {
  color: #062E51;
}



@-webkit-keyframes Gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}